<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Firebase - Examples</title>
    <link href="../Example1/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <style>
        .container {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container" ng-app="myApp" ng-controller="myController">
    <div>
        <div class="form-group">
            <label for="content">Content: </label>
            <input id="content" ng-model="content" class="form-control">
        </div>
        <div class="form-group">
            <label for="option1">Option 1: </label>
            <input id="option1" ng-model="option1" class="form-control">
        </div>
        <div class="form-group">
            <label for="option2">Option 2: </label>
            <input id="option2" ng-model="option2" class="form-control">
        </div>
        <div class="form-group">
            <label for="option3">Option 3: </label>
            <input id="option3" ng-model="option3" class="form-control">
        </div>
        <div class="form-group">
            <label for="option4">Option 4: </label>
            <input id="option4" ng-model="option4" class="form-control">
        </div>
        <div class="form-group">
            <label for="correct">Correct: </label>
            <input id="correct" type="number" ng-model="correct" class="form-control">
        </div>
        <div class="form-group">
            <label for="money">Money: </label>
            <input id="money" type="number" ng-model="money" class="form-control">
        </div>
        <div class="form-group">
            <button class="btn btn-block btn-primary" ng-click="addQues();">Submit</button>
        </div>
    </div>
    <hr/>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tr>
                <th>Content</th>
                <th>Option 1</th>
                <th>Option 2</th>
                <th>Option 3</th>
                <th>Option 4</th>
                <th>Correct</th>
                <th>Money</th>
                <th>Qid</th>
            </tr>
            <tr ng-repeat="q in questions">
                <td>
                    <input ng-model="q.content" class="form-control"/>
                </td>
                <td class="form-inline" style="width: 1%; white-space: nowrap; vertical-align: middle">
                    <input ng-model="q.option1" style="width: 80px" class="form-control text-right"/>
                </td>
                <td class="form-inline" style="width: 1%; white-space: nowrap; vertical-align: middle">
                    <input ng-model="q.option2" style="width: 100px" class="form-control text-right"/>
                </td>

                <td class="form-inline" style="width: 1%; white-space: nowrap; vertical-align: middle">
                    <input ng-model="q.option3" style="width: 80px" class="form-control text-right"/>
                </td>
                <td class="form-inline" style="width: 1%; white-space: nowrap; vertical-align: middle">
                    <input ng-model="q.option4" style="width: 80px" class="form-control text-right"/>
                </td>
                <td class="form-inline" style="width: 1%; white-space: nowrap; vertical-align: middle">
                    <input ng-model="q.correct" style="width: 80px" class="form-control text-right"/>
                </td>
                <td class="form-inline" style="width: 1%; white-space: nowrap; vertical-align: middle">
                    <input ng-model="q.money" style="width: 80px" class="form-control text-right"/>
                </td>
                <td class="form-inline" style="width: 1%; white-space: nowrap; vertical-align: middle">
                    <input ng-model="q.id" style="width: 80px" class="form-control text-right"/>
                </td>
                <td class="form-inline" style="width: 1%; white-space: nowrap; vertical-align: middle">
                    <button title="Save" ng-click="updateQues(q)" class="btn btn-sm btn-primary">Save</button>
                    <button title="Remove" ng-click="removeQues(q)" class="btn btn-sm btn-danger">Remove</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<script src="./js/firebase.js"></script>
<script src="./js/jquery-2.2.3.min.js"></script>
<script src="./js/angular/angular.js"></script>
<script src="./js/angularfire.js"></script>

<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyC7EvijQjvMnfEiswUg6F6f6jq--IvcFyU",
        authDomain: "myproject-812c9.firebaseapp.com",
        databaseURL: "https://myproject-812c9.firebaseio.com",
        storageBucket: "myproject-812c9.appspot.com"
    };
    firebase.initializeApp(config);

    // Listen for auth state changes
    firebase.auth().onAuthStateChanged(function (user) {
        if (user) {
            console.log("Authenticated");
        } else {
            window.location = "login.html";
            console.log("Not Authenticated");
        }
    });

    // ANGULARJS
    var app = angular.module('myApp', ["firebase"]);
    app.controller('myController', function ($scope, $firebaseArray) {
        $scope.index = 0;
        $scope.discount = 0;
        $scope.stock = 0;


        // [START recent_posts_query]
        var ref = firebase.database().ref('products').limitToLast(100);
        // [END recent_posts_query]

        $scope.questions = $firebaseArray(ref);

        // ADD PRODUCT
        $scope.addQues = function () {
            var userId = firebase.auth().currentUser.uid;

            var sizes = {
                sizeId: $scope.sizeId,
                size: $scope.size
            }

            // A product entry.
            var ques = {
                uid: userId,
                id: $scope.id,
                name: $scope.name,
                image: $scope.image,
                price: $scope.price,
                discount: $scope.discount,
                summary: $scope.summary,
                sizes:{
                    sizeId: $scope.sizeId,
                    size: $scope.size
                },
                colors:{
                    color: $scope.color
                },
                stock: $scope.stock,
                details: $scope.details,
                description: $scope.description,
                shipping: $scope.shipping,
                moreImages:{
                    caption: $scope.caption,
                    imge: $scope.imge
                }

            };

            // Get a key for a new product.
            var key = firebase.database().ref().child('quiz').push().key;

            var updates = {};
            updates['/quiz/' + key] = ques;
            return firebase.database().ref().update(updates, function (error) {
                if (error) {
                    console.log('Synchronization failed');
                } else {
                    console.log('Synchronization succeeded');
                }
            });
        };

        $scope.removeQues = function (ques) {
            if (confirm("Are you sure to delete this item?")) {
                $scope.questions.$remove(ques);
            }

        }

        $scope.updateQues = function (ques) {
            $scope.questions.$save(ques);
        }
    });
</script>
</body>
</html>