
    <ol class="breadcrumb">
        <li><a ui-sref="home">Home</a></li>
        <li><a>Products</a></li>
        <li class="active">{{ product.name }}</li>
    </ol>
    <div class="row">

        <div class="col-sm-6">
            <div class="row">
            <div class="col-xs-9">
                <img ng-src="{{ product.imageUrl }}" class="img img-responsive img-product"/>
            </div>
            <div class="col-xs-3 pd-img-info">
                <div ng-repeat="image in product.moreImages">
                    <img ng-src="{{ image.imageUrl }}" class="img img-responsive img-info"/>
                </div>
            </div></div>

        </div>
        <div class="col-sm-6">
            <div class="product-details">
                <div class="description">
                    <h4 class="product-name">
                            {{ product.name }}
                    </h4>

                    <div class="price">
                        <span class="pd-discount">$ {{ product.discount }}</span>
                        <span class="pd-price"> $ {{ product.price }}</span>
                    </div>
                    <p>
                        {{ product.summary }}
                    </p>
                    <hr/>
                    <span><strong>COLOR</strong></span>
                    <ul class="pd-color">
                        <li ng-repeat="color in product.colors">
                            <div style="background-color: {{ color.color }};" class="color-detail">
                            </div>
                        </li>
                    </ul>
                    <hr/>
                    <form>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="number" placeholder="Quantity" min="0" max="{{product.stock}}" class="form-control">
                        </div>
                        <div class="col-md-6 form-group">
                            <select ng-options="item as item.size for item in product.sizes track by item.id"
                                    ng-model="selectedSize"  class="form-control">
                                <option value="">Size</option>
                            </select>
                        </div>
                    </div>
                    </form>
                </div>
                <hr/>
                <div class="action-control">
                    <a class="btn btn-success btn-lg" ng-if="product.stock <= 0" disabled> <span class="add2cart">
                    ADD TO CART </span> </a>
                    <a class="btn btn-success btn-lg" ng-if="product.stock > 0"
                       ui-sref="cart"> <span class="add2cart">
                    ADD TO CART </span> </a>
                    <a class="btn btn-default btn-lg"> <span class="add2cart">
                    ADD TO WISHLIST </span> </a>
                </div>
                <div>
                <div ng-if="product.stock > 0" style="display: inline">
                    <span class="glyphicon glyphicon-ok-sign" style="color:#4ec67f"></span> IN STOCK &nbsp;&nbsp;
                </div>
                <div ng-if="product.stock <= 0" style="display: inline">
                    <span class="glyphicon glyphicon-remove-sign"></span> OUT OF STOCK &nbsp;&nbsp;
                </div>


                    <span class="glyphicon glyphicon-lock"></span> SECURE ONLINE ORDERING
                </div>
                <hr/>
                <div>

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="" aria-controls="detail" role="tab" data-toggle="tab" ng-click="changeTab(1)">DETAILS</a></li>
                        <li role="presentation">
                            <a href="" aria-controls="desc" role="tab" data-toggle="tab" ng-click="changeTab(2)">SIZE</a></li>
                        <li role="presentation">
                            <a href="" aria-controls="ship" role="tab" data-toggle="tab" ng-click="changeTab(3)">SHIPPING</a>
                        </li>

                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel"  id="detail" ng-class="{'tab-pane active' : activeTab === 1, 'tab-pane' : activeTab !== 1}">{{ product.detail }}</div>
                        <div role="tabpanel" id="desc" ng-class="{'tab-pane active' : activeTab === 2, 'tab-pane' : activeTab !== 2}">{{ product.description }}</div>
                        <div role="tabpanel" id="ship" ng-class="{'tab-pane active' : activeTab === 3, 'tab-pane' : activeTab !== 3}">{{ product.shipping }}</div>

                    </div>

                </div>

            </div>
        </div>
    </div>
